<h1>List a new planet</h1>

<%= simple_form_for @planet do |f| %>
<%= f.input :name, placeholder: "Planet name" %>
<%= f.input :address, placeholder: "Planet address" %>
<%= f.input :description, placeholder: "Planet description" %>
<%= f.input :price, placeholder: "Price" %>
<%= f.submit%>
<% end  %>

<p><%= link_to "Back", my_planets_path %></p>
