<p><%= link_to "Back", planets_path %></p>

<h1><%= @planet.name %></h1>

<p>Description: <%= @planet.description %></p>
<p>Address: <%= @planet.address %></p>
<p>Price: <%= humanized_money_with_symbol(@planet.price) %></p>
<%# <%= cl_image_tag @planet.photo.key, height: 300, width: 400, crop: :fill %>

<p><%= link_to "Book this planet", new_planet_reservation_path(@planet) %></p>
