<div class="container">
  <h1 class = "header_planet">Book a new planet</h1>

  <%= simple_form_for [@planet, @reservation] do |f| %>
  <%= f.input :start_date%>
  <%= f.input :end_date%>
  <%= f.submit class: "btn btn-primary"%>
  <% end  %>

  <p class="my-3"><%= link_to "Back", planet_path(@planet), class: "btn btn-secondary" %></p>
</div>
